<%- include('head', { title: "Craft for a Cause" }); %>
<%- include('nav', { user: user }); %>

    <style type="text/css">
    .tabs .indicator {
        /* "teal accent-3" */
        background-color: #1de9b6;
    }
    </style>

    <div class="parallax-container">
        <div class="parallax"><img src="img/ggol.gif"></div>
    </div>

    <div class="row">
        <div class="col s12 teal lighten-1">
            <ul class="tabs teal lighten-1">
                <li class="tab col s3 teal lighten-2"><a class="white-text" href="#browse_products">Products</a></li>
                <li class="tab col s3 teal lighten-2"><a class="white-text" href="#browse_communities">Communities</a></li>
            </ul>
        </div>
        <div id="browse_products" class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12" >
                        <h4>Find Products</h4>

                        <div class="input-field col s6 s12 teal-text">
                            <i class="teal-text material-icons prefix">search</i>
                            <!-- todo autocomplete results -->
                            <input type="text" placeholder="search" id="search-product" class="autocomplete teal-text">
                        </div>

                        <div id="product-search-results">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="browse_communities" class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12" >
                        <h4>Find Communities</h4>

                        <div class="input-field col s6 s12 teal-text">
                            <i class="teal-text material-icons prefix">search</i>
                            <!-- todo autocomplete results -->
                            <input type="text" placeholder="search" id="search-community" class="autocomplete teal-text" >
                        </div>

                        <div id="community-search-results" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- /each page specific code.ejs -->
<!-- end -->


    <%- include('page_scripts'); %>
    <script>
        function renderProductCard(product) {
            var s = `
            <a href="/product/${product._id}">
                <div class="col s12 m4">
                    <div class="card medium">
                        <div class="card-image" style="max-height: 200px; overflow: hidden;">
                            <img src="${product.image}">
                            <span class="card-title">${product.name}</span>
                        </div>
                        <div class="card-content" style="padding: 16px;">
                            <p style="color: #000;">${product.description}</p>
                        </div>
                        <div class="card-action" style="color: #000; padding-bottom: 12px; padding-top: 10px; margin: 0; padding-right: 12px; padding-left: 12px;">
                            <p style="display: inline; line-height: 36px;">€${product.price}</p>
                            <form action="/basket/add" method="post" style="display: inline">
                                <input type="hidden" name="productId" value="${product._id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <button class="btn teal waves-effect waves-light right">Add to basket</button>
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            `
            return s;
        }

        function renderCommunityCard(community, parentElement) {
            var s = `
            <a href="/community/${community._id}">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image" style="max-height: 200px; overflow: hidden;">
                            <img src="${community.image}">
                            <span class="card-title">${community.name}</span>
                        </div>
                        <div class="card-content" style="padding: 16px;">
                            <p style="color: #000;">${community.description}</p>
                        </div>
                    </div>
                </div>
            </a>
            `;
            return s;
        }

        $(document).ready(function(){
            $('ul.tabs').tabs();
            $('.parallax').parallax();

            $('#search-product').on("keyup paste", (e) => {
                var userSearch = $("#search-product").val();
                $.post("/product/search", { 'searchTerm': userSearch }, (products) => {
                    result = "";
                    $("#product-search-results").html("");
                    products.forEach((product) => {
                        $("#product-search-results").append(renderProductCard(product, $(this)));
                    });
                }).fail(() => {
                    Materialize.toast("search error!");
                    console.log("search error!");
                });
            });
            $('#search-community').on("keyup paste", (e) => {
                var userSearch = $("#search-community").val();
                $.post("/community/search", {searchTerm: userSearch}, (communities) => {
                    result = "";
                    $("#community-search-results").html("");
                    communities.forEach((community) => {
                        $("#community-search-results").append(renderCommunityCard(community, $(this)));
                    });
                }).fail(() => {
                    Materialize.toast("search error!");
                    console.log("search error!");
                });
            });
        });
    </script>
<%- include('foot'); %>
