<div class="col s12 m4">
  <div class="card">
    <div class="card-image" style="max-height: 200px; overflow: hidden;">
      <img src="<%= image %>">
      <span class="card-title"><%= title %></span>
    </div>
    <div class="card-content" style="padding: 16px;">
      <p><%= description %></p>
    </div>
    <div class="card-action" style="padding-bottom: 12px; padding-top: 10px; margin: 0; padding-right: 12px; padding-left: 12px;">
      <p style="display: inline; line-height: 36px;">€<%= price %></p>
      <button class="btn teal waves-effect waves-light right">Add to basket</button>
    </div>
  </div>
</div>
