<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
      h1 {
        font-family: 'Bad Script'
      }
      h2 {
        font-family: 'Bad Script'
      }
      h3 {
        font-family: 'Bad Script'
      }
      h4 {
        font-family: 'Bad Script'
      }

      body {
        background-color: #f7f1e6;
      }

      .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        color: #009688;
      }
      .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
        color: #80cbc4;
      }
    </style>
  </head>
  <body>
