<%- include('head', { title: "Register - Craft for a Cause" }); %>

<div class="teal lighten-3 valign-wrapper" style="width: 100%; height: 100%; position: absolute;">
  <div class="center-align" style="margin: auto;">
    <img src="img/logo.png" height="150" />
    <div class="card">
      <form action="/login" method="post">
        <div class="card-content">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate" required>
            <label for="name" style="left: 0;">Full name</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="email" class="validate" required>
            <label for="email" style="left: 0;">Email</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" required>
            <label for="password" style="left: 0;">Password</label>
          </div>
          <div class="input-field col s6">
            <input id="contactNumber" type="text" class="validate" required>
            <label for="contactNumber" style="left: 0;">Contact number</label>
          </div>
        </div>
        <div class="card-action">
          <button class="btn teal waves-effect waves-light">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('foot'); %>
